* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: auto;
}

body {
    background: url(/assets/img/bg.png);
    width: 100%;
    height: 100vh;
}

#header {
    width: 100%;
    height: 10vh;
    background-color: transparent;
    display: inline-block;

    .container {
        .header_all {
            .navbar {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: center;

                h3 {
                    color: #ffffff;
                    font-size: 28px;
                    font-family: 'Ubuntu', sans-serif;
                    font-weight: 700;
                    user-select: none;
                }

                .navbar_page {
                    display: flex;
                    gap: 20px;
                    justify-content: center;

                    a {
                        font-size: 20px;
                        color: #ffffff;
                        font-weight: 300;
                        font-family: 'Oswald', sans-serif;
                        transition: 2s;
                    }

                    a:hover {
                        border-bottom: 1px solid aqua;
                        border-width: 2px;
                    }

                    .active {
                        color: aqua;
                    }
                }
            }
        }
    }
}

#main {
    #section1 {
        .container {
            .main_all {
                .title {
                    margin-top: 120px;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h3 {
                        color: #ffffff;
                        font-family: 'Oswald', sans-serif;
                        font-size: 64px;
                        font-weight: 700;
                        letter-spacing: 3px;
                    }

                    p {
                        margin-top: 20px;
                        font-size: 32px;
                        color: #ffffff;
                        font-family: 'Ubuntu', sans-serif;
                        font-weight: 600;
                        letter-spacing: 2px;
                    }

                    .buttons {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 30px;
                        gap: 40px;
                        a {
                            color: #ffffff;
                            font-family: 'Ubuntu', sans-serif;
                            letter-spacing: 2px;
                            font-weight: 500;
                            font-size: 18px;
                            padding: 15px 25px;
                            border: 1px solid aqua;
                            border-width: 2px;
                            border-radius: 50px;
                            transition: .4s;
                        }
                        a:hover{
                            background-color: #ffffff;
                            color: #111111;
                        }
                    }
                }
            }
        }
    }
}